import { initializeApp } from "firebase/app";

import { getFirestore } from "firebase/firestore";

// Your web app's Firebase configuration
const config = {
 //Your config here
};

const app = initializeApp(config);
const db = getFirestore(app);
export default db;
